.swiper {
  padding-top: 60px;
  width: 1280px;
  overflow: visible;
}

.swiper-slide {
  width: 406px !important;
  height: 522px;
  //background: #fffefe;
  background: aqua;
  border-radius: 10px;
  filter: drop-shadow(0px 20px 40px rgba(135, 124, 202, 0.15));
  opacity: 0;
  transition: opacity 0.8s;
  &-active,
  &-next,
  &-next + .swiper-slide {
    opacity: 1;
    transition: opacity 0.8s;
  }
}

.swiper-button-prev,
.swiper-button-next {
  width: 39px;
  height: 39px;
  border: 1px solid #664ef9;
  border-radius: 50%;
  top: 625px;
  color: #664ef9;
}

.swiper-button-prev {
  left: 590px;
}

.swiper-button-next {
  right: 598px;
}
