.container {
  height: 993px;
}

h2.title {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  background: linear-gradient(90deg, #9d94ff 0%, #6b50e9 94.5%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  &::after {
    content: url("../../../../public/img/NotFound/yellowCircle.svg");
    position: relative;
    top: -49px;
    left: -189px;
  }
}

h3.subtitle {
  margin-top: 14px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.backgroundRectangle {
  z-index: -1;
  position: relative;
  top: -114px;
  left: 554px;
  width: 848px;
  height: 970px;
  background: linear-gradient(90deg, #94afff 0%, #4e64f9 94.5%);
  opacity: 0.1;
  border-radius: 40px;
}

.carousel {
  margin-top: -1019px;
}
