.share {
	display: flex;
	align-items: center;
}
.title {
	font-weight: 400;
	font-size: 14px;
	color: #1e2123;
}

.shareList {
	margin-left: 15px;
	width: 250px;
	display: flex;
	justify-content: space-between;
}

.shareItem {
	width: 34px;
	height: 34px;
	background: rgba(102, 78, 249, 0.1);
	border-radius: 19px;

	display: flex;
	justify-content: center;
	align-items: center;
}
