.container {
  width: 406px;
  height: 330px;
  background: #fffefe;
  box-shadow: 0px 20px 40px rgba(39, 95, 158, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.title {
  width: min-content;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.text {
  margin-top: 20px;
  width: 310px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #686868;
  text-align: center;
}

a.link {
  margin-top: 22px;
  width: 117px;
  height: 48px;
  padding: 12px 24px;
  background: #ffd54f;
  border-radius: 33px;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #1e2123;
}
