.container {
  //margin-top: 700px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.headerBackground {
  padding-top: 38px;
  padding-bottom: 57px;
  background: linear-gradient(
    90deg,
    rgba(148, 175, 255, 0.1) 0%,
    rgba(78, 100, 249, 0.1) 94.5%
  );
}

.header {
  max-width: 1280px;

  margin-left: auto;
  margin-right: auto;
}

h1.title {
  margin-top: 29px;
  font-weight: 700;
  font-size: 25px;
  line-height: 100%;
  color: #1e2123;
}

.recommendSee {
  margin-top: 39px;
}

.filter {
  //height: 81px;
  border: 1px solid rgba(78, 100, 249, 0.1);
  box-shadow: 0px 20px 40px rgba(135, 124, 202, 0.15);
}
